<table id="documents">
    <thead>
        <td>Id</td>
        <td>Nume</td>
        <td>Locatie</td>
        <td>Tip</td>
    </thead>
    <tbody>
        #foreach($doc in $documents)
            <tr>
                <td>$doc.getId()</td>
                <td>$doc.getName()</td>
                <td>$doc.getLocation()</td>
                <td>$doc.getDocumentType()</td>
            </tr>
        #end
    </tbody>
</table>

<style>
    #documents {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #documents td, #documents th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #documents tr:nth-child(even){background-color: #f2f2f2;}

    #documents tr:hover {background-color: #ddd;}

    #documents th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>